@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;800&display=swap');
@import 'variables';

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: @dark-gray;
    font-family: @outfit;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}

header img {
    margin: 20px 0 0 20px;
}

header i {
    font-size: 30px !important;
    color: @dark-green;
    margin: 20px 0 0 20px;
}

h2 {
    color: @dark-green;
    font-weight: 500;
    font-size: 30px;
    margin: 40px 0 0 16%;
}

h3 {
    color: @white;
    font-weight: 500;
    font-size: 20px;
    margin: 70px 0 0 16%;
}

.h3-account {
    margin: 150px 0 0 16%;
}

.menu-utente {
    margin-left: 3%;
}

ul {
    margin: 40px 0 0 16%;
}

ul li {
    display: flex;
    align-items: center;
    color: @white;
    font-size: 18px;
    margin-bottom: 20px;
}

ul li i {
    margin-right: 15px;
}

 /* media query */

 @media screen and (min-width: 769px) {
    .menu-utente {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin: auto;
    }

    h2 {
        font-size: 35px;
        margin-left: 16%;
    }

    .h3-account {
        margin-top: 70px;
    }

    h3, .h3-account {
        font-size: 30px;
    }
}