@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;800&display=swap');
@import 'variables';

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: @dark-gray;
    font-family: @outfit;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}

header img {
    margin: 20px 0 0 20px;
}

header i {
    font-size: 30px !important;
    color: @dark-green;
    margin: 20px 0 0 20px;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    color: @white;
    text-align: center;
}

.text-att {
    text-align: center;
    color: @white;
    margin-top: 20px;
    font-weight: 200;
}

.piano-scelto {
    width: 80%;
    margin: auto;
    background: @light-green;
    border-radius: @border-r-20;
    margin-top: 30px;
    padding: 20px;
    border: 5px solid @dark-gray;
    box-shadow: 0px 4px 20px @violet;
}

.piano-scelto p {
    color: @black;
}

.piano-scelto .p-right{
    text-align: right;
    margin-bottom: 10px;
}

.piano-scelto span {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
}

.piano-scelto .btn-change {
    background: @white;
    border: 5px solid @dark-gray;
    box-shadow: 0px 4px 20px @violet;
    border-radius: @border-r-20;
    padding: 15px 28px;
}

.pagamento {
    width: 80%;
    margin: 30px auto 40px;
}

.metodo-pagamento {
    position: relative;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
    align-items: center;
    position: relative;
    gap: 10px;
}

.metodo img {
    height: 40px;
}

.metodo span {
    font-size: 12px;
}

.metodo i {
    margin-right: 5px;
}

.metodo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.metodo:hover {
    cursor: pointer;
}

.metodo.selected {
    background: @light-green;
}

form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "lefts lefts rights rights"
      "footer footer footer footer";
    column-gap: 10px; 
  }

.numbercard {
    grid-area: header;
}

.email {
    grid-area: lefts;
}

.cvv {
    grid-area: rights;
}

.cardholder {
    grid-area: footer;
}

input[type=text],
input[type=number],
input[type=email], 
input[type=password],
select {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #E8E8E8;
    border-radius: @border-r-8;
    background: #E5E9F0;
}

form label {
    font-size: 12px;
    font-weight: bold;
}

form input::placeholder {
    color: @black;
    font-weight: bold;
}

.container-btn {
    text-align: center;
}

.btn-paga {
    background: @red;
    border: 3px solid @dark-gray;
    box-shadow: 0px 3px 14px @violet;
    border-radius: @border-r-20;
    padding: 17px 86px;
    margin-top: 40px;
    text-align: center;
    color: @white;
    font-size: 20px;
    font-weight: bold;
}

footer p {
    text-align: center;
    margin-top: 25px;
    color: @white;
}

.piano-scelto {
    animation: appear ease-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and  (min-width: 769px) {
    .piano-scelto,
    .pagamento,
    .metodo-pagamento {
        width: 40%;
    }

    footer {
        margin: 30px 0;
    }
}